
<div class="appended-lists">
    {{#each lists}}

        <div class="title">
            <i class="dropdown icon"></i>
            {{this.title}}
            <span class="delete-list-button" style="float:right" data-id={{this.id}}><i class=" large minus square icon"></i></span>
            <span class="add-user-button" style="float:right;padding-right:5px"><i class="large user plus icon"></i></span>
        </div>

        <div class="content">
            <div style="padding-left:5px" class="ui middle aligned divided list">

                <div class="ui form" style="padding-bottom: 20px"><input type="text" data-boxId={{this.id}} id="new-item-input" placeholder="Enter a new item..."></input>
                    <span class="new-item-button" id="new-item-id" data-id={{this.id}}><i class="teal large plus square icon" style="float:right"></i></span>
                </div>
                <div id="appended-tasks{{this.id}}">
                {{#each this.Task}}
                    <div id={{this.id}}>
                        <span class="content" style="padding-left: 0px">{{this.text}}</span>
                        <span class="delete-item-button" style="float:right" data-id={{this.id}}><i class="red large minus square icon"></i></span>
                        <p style="font-size:12px">Added by: {{this.originatorId}}</p>
                        <hr>
                    </div>
                {{/each}}

                </div>

            </div>
        </div>
        
    {{!-- ADD USER MODAL --}}
    <div class="ui modal" data-modalId={{this.id}}>
      <i class="close icon"></i>
      <div class="header">
        Add user by email
      </div>
      <div class="content">
        <form class="ui form">
          <div class="field">
            <input type="text" name="first-name" placeholder="Email" id="new-user">
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui black deny button">
          Cancel
        </div>
        <div class="ui positive right labeled icon button" id="add-user-btn" data-listId={{this.id}}>
          Yep, that's me
        </div>
      </div>
    </div>

{{/each}}
</div>
